<p<%= notice %></p>
<p><%= link_to "Back", :controller => 'scraps', :action => 'find'%></p>
<p>
  <strong>Order ID:</strong>
  <%= @scrap.order_id %>
</p>
<p>
  <strong>Order Date:</strong>
  <%= @scrap.order_date %>
</p>
<p>
  <strong>Order Amount:</strong>
  <%= @scrap.order_amt %>
</p>
<p>
  <strong>Order Status:</strong>
  <%= @scrap.order_status %>
</p>
<p>
  <strong>Payment Mode:</strong>
  <%= @scrap.payment_mode %>
</p>
<p>
  <strong>Milaap Txn Id:</strong>
  <%= @scrap.mil_tx_id %>
</p>
<p>
  <strong>Order Description:</strong>
  <%= @scrap.order_desc %>
</p>
<p>
  <strong>Borrower ID:</strong>
  <%= @scrap.borrower_id %>
</p>
<p>
  <strong>Order Description:</strong>
  <%= @scrap.borrower_name %>
</p>
<p>
  <strong>Customer Name:</strong>
  <%= @scrap.cust_name %>
</p>
<p>
  <strong>Customer Email:</strong>
  <%= @scrap.cust_email %>
</p>
<p>
  <strong>Customer Phone:</strong>
  <%= @scrap.cust_phone %>
</p>
<p>
  <strong>Customer Address:</strong>
  <%= @scrap.cust_addr %>
</p>
<p>
  <strong>Created on:</strong>
  <%= @scrap.created_at %>
</p>
<p>
  <strong>Last Update:</strong>
  <%= @scrap.updated_at %>
</p>
